<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Townhub - قالب HTML تبلیغاتی و ثبت آگهی</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css\reset.css">
        <link type="text/css" rel="stylesheet" href="css\plugins.css">
        <link type="text/css" rel="stylesheet" href="css\style.css">
        <link type="text/css" rel="stylesheet" href="css\color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images\favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="loader-inner">
                <div class="loader-inner-cirle"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- main start  -->
        <div id="main">
            <!-- header -->
            <header class="main-header">
                <!-- logo-->
                <a href="index.html" class="logo-holder"><img src="images\logo.png" alt=""></a>
                <!-- logo end-->
                <!-- header-search_btn-->         
                <div class="header-search_btn show-search-button"><i class="fal fa-search"></i><span>جستجو</span></div>
                <!-- header-search_btn end-->
                <!-- header opt --> 
                <a href="dashboard-add-listing.html" class="add-list color-bg">ثبت تبلیغ <span><i class="fal fa-layer-plus"></i></span></a>
                <div class="cart-btn   show-header-modal" data-microtip-position="bottom" role="tooltip" aria-label="Your Wishlist"><i class="fal fa-heart"></i><span class="cart-counter green-bg"></span> </div>
                <div class="show-reg-form modal-open avatar-img" data-srcav="images/avatar/3.jpg"><i class="fal fa-user"></i>ورود</div>
                <!-- header opt end--> 
                <!-- lang-wrap-->
                <div class="lang-wrap">
                    <div class="show-lang"><span><i class="fal fa-globe-europe"></i><strong>Fa</strong></span><i class="fa fa-caret-down arrlan"></i></div>
                    <ul class="lang-tooltip lang-action no-list-style">
                        <li><a href="#" class="current-lan" data-lantext="Fa">فارسی</a></li>
                        <li><a href="#" data-lantext="Fr">فرانسوی</a></li>
                        <li><a href="#" data-lantext="Es">اسپانیایی</a></li>
                        <li><a href="#" data-lantext="En">انگلیسی</a></li>
                    </ul>
                </div>
                <!-- lang-wrap end-->                                 
                <!-- nav-button-wrap--> 
                <div class="nav-button-wrap color-bg">
                    <div class="nav-button">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <!--  navigation --> 
                <div class="nav-holder main-menu">
                    <nav>
                        <ul class="no-list-style">
                            <li>
                                <a href="#">خانه <i class="fa fa-caret-down"></i></a>
                                <!--second level -->   
                                <ul>
                                    <li><a href="index.html">خانه 1</a></li>
                                    <li><a href="index2.html">خانه 2</a></li>
                                    <li><a href="index3.html">خانه 3</a></li>
                                    <li><a href="index4.html">خانه 4</a></li>
                                    <li><a href="index5.html">خانه 5</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="#">تبلیغات <i class="fa fa-caret-down"></i></a>
                                <!--second level -->
                                <ul>
                                    <li><a href="listing.html">ستون نقشه 1</a></li>
                                    <li><a href="listing2.html">ستون نقشه 2</a></li>
                                    <li><a href="listing3.html">نقشه کامل 1</a></li>
                                    <li><a href="listing4.html">نقشه کامل 2</a></li>
                                    <li><a href="listing5.html">بدون نقشه 1</a></li>
                                    <li><a href="listing6.html">بدون نقشه 2</a></li>
                                    <li>
                                        <a href="#">تکی <i class="fa fa-caret-down"></i></a>
                                        <!--third  level  -->
                                        <ul>
                                            <li><a href="listing-single.html">استایل 1</a></li>
                                            <li><a href="listing-single2.html">استایل 2</a></li>
                                            <li><a href="listing-single3.html">استایل 3</a></li>
                                            <li><a href="listing-single4.html">استایل 4</a></li>
                                        </ul>
                                        <!--third  level end-->
                                    </li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="blog.html">اخبار</a>
                            </li>
                            <li>
                                <a href="#" class="act-link">صفحات <i class="fa fa-caret-down"></i></a>
                                <!--second level -->   
                                <ul>
                                    <li>
                                        <a href="#">فروشگاه<i class="fa fa-caret-down"></i></a>
                                        <!--third  level  -->
                                        <ul>
                                            <li><a href="shop.html">محصولات</a></li>
                                            <li><a href="product-single.html">محصول تک</a></li>
                                            <li><a href="cart.html">سبد خرید</a></li>
                                        </ul>
                                        <!--third  level end-->
                                    </li>
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="contacts.html">تماس با ما</a></li>
                                    <li><a href="author-single.html">کاربر</a></li>
                                    <li><a href="help.html">ما چگونه کار میکنیم</a></li>
                                    <li><a href="booking.html">رزرو</a></li>
                                    <li><a href="pricing-tables.html">لیست قیمت</a></li>
                                    <li><a href="dashboard.html">داشبورد کاربری</a></li>
                                    <li><a href="blog-single.html">بلاگ تنها</a></li>
                                    <li><a href="dashboard-add-listing.html">ثبت تبلیغ</a></li>
                                    <li><a href="invoice.html">صورتحساب</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                                <!--second level end-->                                
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
                <!-- header-search_container -->                     
                <div class="header-search_container header-search vis-search">
                    <div class="container small-container">
                        <div class="header-search-input-wrap fl-wrap">
                            <!-- header-search-input --> 
                            <div class="header-search-input">
                                <label><i class="fal fa-keyboard"></i></label>
                                <input type="text" placeholder="دنبال چی میگردی؟" value="">  
                            </div>
                            <!-- header-search-input end -->  
                            <!-- header-search-input --> 
                            <div class="header-search-input location autocomplete-container">
                                <label><i class="fal fa-map-marker"></i></label>
                                <input type="text" placeholder="موقعیت..." class="autocomplete-input" id="autocompleteid2" value="">
                                <a href="#"><i class="fal fa-dot-circle"></i></a>
                            </div>
                            <!-- header-search-input end -->                                        
                            <!-- header-search-input --> 
                            <div class="header-search-input header-search_selectinpt ">
                                <select data-placeholder="Category" class="chosen-select no-radius">
                                    <option>همه دسته بندی ها</option>
                                    <option>همه دسته بندی ها</option>
                                    <option>فروشگاه ها</option>
                                    <option>هتل ها</option>
                                    <option>رستوران ها</option>
                                    <option>تناسب اندام</option>
                                    <option>کنسرت ها</option>
                                </select>
                            </div>
                            <!-- header-search-input end --> 
                            <button class="header-search-button green-bg" onclick="window.location.href='listing.html'"><i class="far fa-search"></i> جستجو </button>
                        </div>
                        <div class="header-search_close color-bg"><i class="fal fa-long-arrow-up"></i></div>
                    </div>
                </div>
                <!-- header-search_container  end --> 
                <!-- wishlist-wrap--> 
                <div class="header-modal novis_wishlist">
                    <!-- header-modal-container--> 
                    <div class="header-modal-container scrollbar-inner fl-wrap" data-simplebar="">
                        <!--widget-posts-->
                        <div class="widget-posts  fl-wrap">
                            <ul class="no-list-style">
                                <li>
                                    <div class="widget-posts-img"><a href="listing-single.html"><img src="images\gallery\thumbnail\1.png" alt=""></a>  
                                    </div>
                                    <div class="widget-posts-descr">
                                        <h4><a href="listing-single.html">کافه رستوران</a></h4>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> ایران , تهران , جردن , خیابان بهشت</a></div>
                                        <div class="widget-posts-descr-link"><a href="listing.html">رستوران ها </a>   <a href="listing.html">کافه</a></div>
                                        <div class="widget-posts-descr-score">4.1</div>
                                        <div class="clear-wishlist"><i class="fal fa-times-circle"></i></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-posts-img"><a href="listing-single.html"><img src="images\gallery\thumbnail\2.png" alt=""></a>
                                    </div>
                                    <div class="widget-posts-descr">
                                        <h4><a href="listing-single.html">هتل مونت پلاسا</a></h4>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> ایران , تهران , جردن , خیابان بهشت </a></div>
                                        <div class="widget-posts-descr-link"><a href="listing.html">هتل ها </a>  </div>
                                        <div class="widget-posts-descr-score">5.0</div>
                                        <div class="clear-wishlist"><i class="fal fa-times-circle"></i></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-posts-img"><a href="listing-single.html"><img src="images\gallery\thumbnail\3.png" alt=""></a>
                                    </div>
                                    <div class="widget-posts-descr">
                                        <h4><a href="listing-single.html">لورم ایپسوم متن ساختگی</a></h4>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>ایران , تهران , جردن , خیابان بهشت</a></div>
                                        <div class="widget-posts-descr-link"><a href="listing.html">کنسرت</a> </div>
                                        <div class="widget-posts-descr-score">4.2</div>
                                        <div class="clear-wishlist"><i class="fal fa-times-circle"></i></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-posts-img"><a href="listing-single.html"><img src="images\gallery\thumbnail\4.png" alt=""></a>
                                    </div>
                                    <div class="widget-posts-descr">
                                        <h4><a href="listing-single.html">بدنسازی</a></h4>
                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> ایران , تهران , جردن , خیابان بهشت</a></div>
                                        <div class="widget-posts-descr-link"><a href="listing.html">تناسب اندام</a> <a href="listing.html">سالن ورزش</a> </div>
                                        <div class="widget-posts-descr-score">5.0</div>
                                        <div class="clear-wishlist"><i class="fal fa-times-circle"></i></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- widget-posts end-->
                    </div>
                    <!-- header-modal-container end--> 
                    <div class="header-modal-top fl-wrap">
                        <h4>لیست دلخواه شما : <span><strong></strong> مکان</span></h4>
                        <div class="close-header-modal"><i class="far fa-times"></i></div>
                    </div>
                </div>
                <!--wishlist-wrap end --> 
            </header>
            <!-- header end-->
            <!-- wrapper-->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section single-par" data-scrollax-parent="true">
                        <div class="bg par-elem " data-bg="images/bg/34.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay op7"></div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <h2><span>مرکز کمک</span></h2>
                                <span class="section-separator"></span>
                                <div class="breadcrumbs fl-wrap"><a href="#">خانه</a><a href="#">صفحات</a><span>مرکز کمک</span></div>
                            </div>
                        </div>
                        <div class="header-sec-link">
                            <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a> 
                        </div>
                    </section>
                    <!--  section  end-->
                    <!--section  -->
                    <section data-scrollax-parent="true" id="sec1">
                        <div class="container">
                            <div class="section-title">
                                <h2>کارهای ما</h2>
                                <div class="section-subtitle">کارهای ما</div>
                                <span class="section-separator"></span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                            </div>
                            <div class="process-wrap fl-wrap">
                                <ul class="no-list-style">
                                    <li>
                                        <div class="process-item">
                                            <span class="process-count">01 </span>
                                            <div class="time-line-icon"><i class="fal fa-map-marker-alt"></i></div>
                                            <h4> مکان جالب را پیدا کنید</h4>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                                        </div>
                                        <span class="pr-dec"></span>
                                    </li>
                                    <li>
                                        <div class="process-item">
                                            <span class="process-count">02</span>
                                            <div class="time-line-icon"><i class="fal fa-mail-bulk"></i></div>
                                            <h4>با ما تماس بگیرید</h4>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                                        </div>
                                        <span class="pr-dec"></span>
                                    </li>
                                    <li>
                                        <div class="process-item">
                                            <span class="process-count">03</span>
                                            <div class="time-line-icon"><i class="fal fa-layer-plus"></i></div>
                                            <h4>رزرو کنید</h4>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="process-end"><i class="fal fa-check"></i></div>
                            </div>
                        </div>
                    </section>
                    <!--section end-->
                    <!--section  -->
                    <section class="gradient-bg hidden-section" data-scrollax-parent="true">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="colomn-text  pad-top-column-text fl-wrap">
                                        <div class="colomn-text-title">
                                            <h3>آموزش های ویدیویی ما</h3>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                            <a href="#" class=" down-btn color3-bg"><i class="fab fa-vimeo-v"></i>کانال ویمئو</a>
                                            <a href="#" class=" down-btn color3-bg"><i class="fab fa-youtube"></i>  کانال یوتیوب </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="list-single-main-media fl-wrap">
                                        <img src="images\all\2.jpg" class="respimg" alt="">
                                        <a href="https://vimeo.com/70851162" class="promo-link   image-popup"><i class="fal fa-video"></i><span>ما چگونه کار می کنیم</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gradient-bg-figure" style="right:-30px;top:10px;"></div>
                        <div class="gradient-bg-figure" style="left:-20px;bottom:30px;"></div>
                        <div class="circle-wrap" style="left:270px;top:120px;" data-scrollax="properties: { translateY: '-200px' }">
                            <div class="circle_bg-bal circle_bg-bal_small"></div>
                        </div>
                        <div class="circle-wrap" style="right:420px;bottom:-70px;" data-scrollax="properties: { translateY: '150px' }">
                            <div class="circle_bg-bal circle_bg-bal_big"></div>
                        </div>
                        <div class="circle-wrap" style="left:420px;top:-70px;" data-scrollax="properties: { translateY: '100px' }">
                            <div class="circle_bg-bal circle_bg-bal_big"></div>
                        </div>
                        <div class="circle-wrap" style="left:40%;bottom:-70px;">
                            <div class="circle_bg-bal circle_bg-bal_middle"></div>
                        </div>
                        <div class="circle-wrap" style="right:40%;top:-10px;">
                            <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
                        </div>
                        <div class="circle-wrap" style="right:55%;top:90px;">
                            <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
                        </div>
                    </section>
                    <!--section end-->  
                    <section class="gray-bg" id="sec3">
                        <div class="container">
                            <div class="section-title">
                                <h2> سؤالات متداول</h2>
                                <div class="section-subtitle">سوالات رایج</div>
                                <span class="section-separator"></span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
                            </div>
                            <div class="post-container fl-wrap">
                                <div class="row">
                                    <!-- blog content-->
                                    <div class="col-md-3">
                                        <div class="faq-nav help-bar scroll-init">
                                            <ul class="no-list-style">
                                                <li>
                                                    <a href="#fq1">
                                                    <i class="fal fa-space-shuttle"></i>
                                                    <span>شروع</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fq2">
                                                    <i class="fal fa-cart-arrow-down"></i>
                                                    <span>قیمت گذاری</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fq3">
                                                    <i class="fal fa-barcode-read"></i>
                                                    <span>سوالات فروش</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#fq4">
                                                    <i class="fal fa-user-headset"></i>
                                                    <span>راهنماهای استفاده</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog conten end-->
                                    <!-- blog sidebar -->
                                    <div class="col-md-9">
                                        <!-- faq-section -->
                                        <div class="faq-title faq-title_first fl-wrap">شروع</div>
                                        <div class="faq-section fl-wrap" id="fq1">
                                            <!-- accordion-->
                                            <div class="accordion">
                                                <a class="toggle act-accordion" href="#">پیشنهادات<span></span></a>
                                                <div class="accordion-inner visible">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#">توصیه ها <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#"> تبلیغات  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <!-- faq-section -->
                                        <div class="faq-title fl-wrap">قیمت گذاری</div>
                                        <div class="faq-section fl-wrap" id="fq2">
                                            <!-- accordion-->
                                            <div class="accordion">
                                                <a class="toggle" href="#">پیشنهادات<span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#">توصیه ها <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <!-- faq-section -->
                                        <div class="faq-title fl-wrap">سوالات فروش</div>
                                        <div class="faq-section fl-wrap" id="fq3">
                                            <!-- accordion-->
                                            <div class="accordion">
                                                <a class="toggle" href="#">پیشنهادات<span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#">توصیه ها <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#"> تبلیغات  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <!-- faq-section -->
                                        <div class="faq-title fl-wrap">راهنماهای استفاده</div>
                                        <div class="faq-section fl-wrap" id="fq4">
                                            <!-- accordion-->
                                            <div class="accordion">
                                                <a class="toggle" href="#">پیشنهادات<span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#">توصیه ها <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#"> تبلیغات  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                                <a class="toggle" href="#"> تبلیغات  <span></span></a>
                                                <div class="accordion-inner">
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی.</p>
                                                </div>
                                            </div>
                                            <!-- accordion end -->                                               
                                        </div>
                                        <!-- faq-section end -->
                                        <div class="faq-links fl-wrap">
                                            <h3 class="faq-links-title">هنوز به کمک نیاز دارید ؟</h3>
                                            <span class="section-separator"></span>
                                            <!-- post nav --> 
                                            <div class="post-nav-wrap fl-wrap">
                                                <a class="post-nav post-nav-prev" href="#"><span class="post-nav-img"><img src="images\all\54.jpg" alt=""></span><span class="post-nav-text"><strong>با ما تماس بگیرید</strong> <br>021-12345678</span></a> 
                                                <a class="post-nav post-nav-next" href="#"><span class="post-nav-img"><img src="images\all\53.jpg" alt=""></span><span class="post-nav-text"><strong>برای ما ایمیل بفرستید</strong><br>yourmail@domain.com</span></a> 
                                            </div>
                                            <!-- post nav end --> 
                                        </div>
                                    </div>
                                    <!-- blog sidebar end -->
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!--content end-->
            </div>
            <!-- wrapper end-->
            <!--footer -->
            <footer class="main-footer fl-wrap">
                <!-- footer-header-->
                <div class="footer-header fl-wrap grad ient-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="subscribe-header">
                                    <h3>برای عضویت در <span>خبرنامه</span></h3>
                                    <p>آیا می خواهید در مورد مکان های جدید مطلع شوید؟ فقط ثبت نام کنید.</p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="subscribe-widget">
                                    <div class="subcribe-form">
                                        <form id="subscribe">
                                            <input class="enteremail fl-wrap" name="email" id="subscribe-email" placeholder="ایمیل خود را وارد کنید" spellcheck="false" type="text">
                                            <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fal fa-envelope"></i></button>
                                            <label for="subscribe-email" class="subscribe-message"></label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-header end-->
                <!--footer-inner-->
                <div class="footer-inner   fl-wrap">
                    <div class="container">
                        <div class="row">
                            <!-- footer-widget-->
                            <div class="col-md-4">
                                <div class="footer-widget fl-wrap">
                                    <div class="footer-logo"><a href="index.html"><img src="images\logo.png" alt=""></a></div>
                                    <div class="footer-contacts-widget fl-wrap">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.   </p>
                                        <ul class="footer-contacts fl-wrap no-list-style">
                                            <li><span><i class="fal fa-envelope"></i> ایمیل :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                                            <li> <span><i class="fal fa-map-marker"></i> آدرس :</span><a href="#" target="_blank">ایران , تهران , خیابان آزادی</a></li>
                                            <li><span><i class="fal fa-phone"></i> تلفن :</span><a href="#">02198765432</a></li>
                                        </ul>
                                        <div class="footer-social">
                                            <span>ما را دنبال کنید: </span>
                                            <ul class="no-list-style">
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget end-->
                            <!-- footer-widget-->
                            <div class="col-md-4">
                                <div class="footer-widget fl-wrap">
                                    <h3>آخرین اخبار ما</h3>
                                    <div class="footer-widget-posts fl-wrap">
                                        <ul class="no-list-style">
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="images\all\4.jpg" class="respimg" alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title="">لورم ایپسوم متن ساختگی با تولید</a>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 21 اسفند 09.05 </span> 
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="images\all\2.jpg" class="respimg" alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title=""> سادگی نامفهوم از صنعت چاپ</a>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 اسفند 18.21 </span> 
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="images\all\7.jpg" class="respimg" alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title="">استفاده از طراحان گرافیک است</a>
                                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 اسفند 16.42 </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="blog.html" class="footer-link">همه اخبار <i class="fal fa-long-arrow-left"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget end-->
                            <!-- footer-widget  -->
                            <div class="col-md-4">
                                <div class="footer-widget fl-wrap ">
                                    <h3>توییتر ما</h3>
                                    <div class="twitter-holder fl-wrap scrollbar-inner2" data-simplebar="" data-simplebar-auto-hide="false">
                                        <div id="footer-twiit"></div>
                                    </div>
                                    <a href="#" class="footer-link twitter-link" target="_blank">ما را دنبال کنید <i class="fal fa-long-arrow-left"></i></a>
                                </div>
                            </div>
                            <!-- footer-widget end-->
                        </div>
                    </div>
                    <!-- footer bg-->
                    <div class="footer-bg" data-ran="4"></div>
                    <div class="footer-wave">
                        <svg viewbox="0 0 100 25">
                            <path fill="#fff" d="M0 30 V12 Q30 6 55 12 T100 11 V30z"></path>
                        </svg>
                    </div>
                    <!-- footer bg  end-->
                </div>
                <!--footer-inner end -->
                <!--sub-footer-->
                <div class="sub-footer  fl-wrap">
                    <div class="container">
                        <div class="copyright"> &#169; Townhub 2020. کلیه حقوق محفوظ است.</div>
                        <div class="lang-wrap">
                            <div class="show-lang"><span><i class="fal fa-globe-europe"></i><strong>fa</strong></span><i class="fa fa-caret-down arrlan"></i></div>
                            <ul class="lang-tooltip lang-action no-list-style">
                                <li><a href="#" class="current-lan" data-lantext="Fa">فارسی</a></li>
                                <li><a href="#" data-lantext="Fr">فرانسوی</a></li>
                                <li><a href="#" data-lantext="Es">اسپانیایی</a></li>
                                <li><a href="#" data-lantext="En">انگلیسی</a></li>
                            </ul>
                        </div>
                        <div class="subfooter-nav">
                            <ul class="no-list-style">
                                <li><a href="#">شرایط استفاده</a></li>
                                <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                                <li><a href="#">وبلاگ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--sub-footer end -->
            </footer>
            <!--footer end -->  
            <!--map-modal -->
            <div class="map-modal-wrap">
                <div class="map-modal-wrap-overlay"></div>
                <div class="map-modal-item">
                    <div class="map-modal-container fl-wrap">
                        <div class="map-modal fl-wrap">
                            <div id="singleMap" data-latitude="40.7" data-longitude="-73.1"></div>
                        </div>
                        <h3><span>مکان برای : </span><a href="#">عنوان لیست</a></h3>
                        <div class="map-modal-close"><i class="fal fa-times"></i></div>
                    </div>
                </div>
            </div>
            <!--map-modal end -->                
            <!--register form -->
            <div class="main-register-wrap modal">
                <div class="reg-overlay"></div>
                <div class="main-register-holder tabs-act">
                    <div class="main-register fl-wrap  modal_main">
                        <div class="main-register_title">به شهر <span><strong>تبلیغ </strong>خوش آمدید<strong>.</strong></span></div>
                        <div class="close-reg"><i class="fal fa-times"></i></div>
                        <ul class="tabs-menu fl-wrap no-list-style">
                            <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> وارد شدن</a></li>
                            <li><a href="#tab-2"><i class="fal fa-user-plus"></i> ثبت نام</a></li>
                        </ul>
                        <!--tabs -->                       
                        <div class="tabs-container">
                            <div class="tab">
                                <!--tab -->
                                <div id="tab-1" class="tab-content first-tab">
                                    <div class="custom-form">
                                        <form method="post" name="registerform">
                                            <label>نام کاربری یا آدرس ایمیل <span>*</span> </label>
                                            <input name="email" type="text" onclick="this.select()" value="">
                                            <label>کلمه عبور <span>*</span> </label>
                                            <input name="password" type="password" onclick="this.select()" value="">
                                            <button type="submit" class="btn float-btn color2-bg"> وارد <i class="fas fa-caret-left"></i></button>
                                            <div class="clearfix"></div>
                                            <div class="filter-tags">
                                                <input id="check-a3" type="checkbox" name="check">
                                                <label for="check-a3">مرا به خاطر بسپار</label>
                                            </div>
                                        </form>
                                        <div class="lost_password">
                                            <a href="#">رمزعبور خود را گم کردید؟</a>
                                        </div>
                                    </div>
                                </div>
                                <!--tab end -->
                                <!--tab -->
                                <div class="tab">
                                    <div id="tab-2" class="tab-content">
                                        <div class="custom-form">
                                            <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                                <label>نام و نام خانوادگی <span>*</span> </label>
                                                <input name="name" type="text" onclick="this.select()" value="">
                                                <label>آدرس ایمیل <span>*</span></label>
                                                <input name="email" type="text" onclick="this.select()" value="">
                                                <label>کلمه عبور <span>*</span></label>
                                                <input name="password" type="password" onclick="this.select()" value="">
                                                <div class="filter-tags ft-list">
                                                    <input id="check-a2" type="checkbox" name="check">
                                                    <label for="check-a2">من با سیاست حفظ حریم خصوصی <a href="#">موافقم</a></label>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="filter-tags ft-list">
                                                    <input id="check-a" type="checkbox" name="check">
                                                    <label for="check-a">شرایط را <a href="#">قبول دارم</a></label>
                                                </div>
                                                <div class="clearfix"></div>
                                                <button type="submit" class="btn float-btn color2-bg"> ثبت نام  <i class="fas fa-caret-left"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--tab end -->
                            </div>
                            <!--tabs end -->
                            <div class="log-separator fl-wrap"><span>یا</span></div>
                            <div class="soc-log fl-wrap">
                                <p>برای ورود سریع یا ثبت نام از حساب اجتماعی خود استفاده کنید.</p>
                                <a href="#" class="facebook-log"> فیسبوک</a>
                            </div>
                            <div class="wave-bg">
                                <div class='wave -one'></div>
                                <div class='wave -two'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--register form end -->
            <a class="to-top"><i class="fas fa-caret-up"></i></a>     
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="js\jquery.min.js"></script>
        <script src="js\plugins.js"></script>
        <script src="js\scripts.js"></script>
    </body>
</html>