<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--=============== basic  ===============-->
        
        <title>Townhub - قالب HTML تبلیغاتی و ثبت آگهی</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="css\invoice.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images\favicon.ico">
    </head>
    <body>
        <div class="invoice-box">
            <table>
                <tbody><tr class="top">
                    <td colspan="2">
                        <table>
                            <tbody><tr>
                                <td class="title">
                                    <img src="images\logo2.png" style="width:150px; height:auto" alt="">
                                </td>
                                <td>
                                    صورتحساب #: 25<br>
                                    تاریخ : 21 اسفند 1399<br>
                                    تا تاریخ : 21 فرودین 1400
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tbody><tr>
                                <td>
                                    شرکت تبلیغاتی.<br>
                                    ایران , تهران , میدان آزادی , خیابان آزادی<br>
                                    <a href="#" style="color:#666; text-decoration:none">yoursite@domain.com</a>
                                    <br>
                                    <a href="#" style="color:#666; text-decoration:none">021-1234567</a>                                
                                </td>
                                <td>
                                    جسی مانتی<br>
                                    <a href="#" style="color:#666; text-decoration:none">yourmail@domain.com</a>
                                    <br>
                                    <a href="#" style="color:#666; text-decoration:none">021-9876543</a>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr class="heading">
                    <td>
                        روش پرداخت
                    </td>
                    <td>
                        بررسی #
                    </td>
                </tr>
                <tr class="details">
                    <td>
                        پرداخت اینترنتی **** 4242
                    </td>
                    <td>
                        بررسی
                    </td>
                </tr>
                <tr class="heading">
                    <td>
                        گزینه
                    </td>
                    <td>
                        جزئیات
                    </td>
                </tr>
                <tr class="item">
                    <td>
                        هتل
                    </td>
                    <td>
                        هتل پریمیوم پلازا
                    </td>
                </tr>
                <tr class="item">
                    <td>
                        نوع اتاق
                    </td>
                    <td>
                        اتاق خانواده استاندارد
                    </td>
                </tr>
                <tr class="item ">
                    <td>
                        روز 
                    </td>
                    <td>
                        3
                    </td>
                </tr>
                <tr class="item ">
                    <td>
                        تعداد
                    </td>
                    <td>
                        3
                    </td>
                </tr>
                <tr class="item last">
                    <td>
                        مالیات
                    </td>
                    <td>
                         000 تومان
                    </td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td style="padding-top:50px;"> 
                        جمع: 600.000 تومان
                    </td>
                </tr>
            </tbody></table>
        </div>
        <a href="javascript:window.print()" class="print-button">چاپ فاکتور</a> 
    
</body></html>